<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/root_layout"
      lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Alpha Solutions - Employees</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon-32x32.png}"/>
    <!-- DataTables CSS library -->
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />

    <!-- jQuery library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- DataTables JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img id="LOGO" th:src="@{/images/alphaSolutions.png}" alt="Alpha Solutions"/>
    </a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <div id="user-login">
        <div class="nav-item dropdown show">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action" aria-expanded="true"><i class="fas fa-user"></i> <b class="caret"></b></a>
            <div class="dropdown-menu">
                <a sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Sign out</a></a>
            </div>

        </div>
    </div>
            </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link" th:href="@{/}">
                        <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                        Home
                    </a>


                    <div class="sb-sidenav-menu-heading">Company</div>

                    <a class="nav-link" th:href="@{/employees}">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Employees list
                    </a>


                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/createEmployee}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                            Create Employee
                        </a>
                    </div>


                    <div class="sb-sidenav-menu-heading">Project Management</div>

                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/createProject}">
                            <div class="sb-nav-link-icon"><i class="fas fa-plus-circle"></i></div>
                            Create Project
                        </a>
                    </div>

                    <a class="nav-link" th:href="@{/projects}">
                        <div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div>
                        Current Projects
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Signed in as:</div>
                <h5 sec:authentication="principal.username"></h5>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">List of Employees</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Employees</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Employees
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered display" id="memListTable" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>E-mail</th>
                                    <th>Position</th>
                                    <th>Monthly Salary</th>
                                </tr>

                                </thead>
                                <tfoot>

                                <tr th:each="medarbejder : ${medarbejdere}">
                                    <td th:text="${medarbejder.EmployeeId}"></td>
                                    <td th:text="${medarbejder.name}"></td>
                                    <td th:text="${medarbejder.age}"></td>
                                    <td th:text="${medarbejder.email}"></td>
                                    <td th:text="${medarbejder.position}"></td>
                                    <td th:text="${medarbejder.monthlySalary}"></td>
                                </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Alpha Solutions 2021</div>

                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{js/scripts.js}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
